

html {
  scroll-behavior: smooth;
}
*,
	*::before,
	*::after{
	    box-sizing:border-box;
	}
	
	*:focus
	{
	outline:none;
	}
	
	body
	{
	    padding:0;
		margin:0;
		//background: #000;
		color:white;
		font-family: "Oxygen", sans-serif;
		//overflow:hidden;
		animation: bgColor 20s linear infinite;
	}
	
	
	a
	{
	    text-decoration:none;
	}
	
	img
	{
	    width: 100%;
	}
	
	
	.home img
	{
	position: relative;
    width: 40%;
    border-radius:60%;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;          
    //box-shadow: -20px -20px 20px rgba(0, 0, 0, .5);
	box-shadow:0 0 30px white;
    //transition: .1s;
		
	}
		
	
	










	#Text{
		
		animation: type 7s  linear infinite;
		overflow:hidden;
		font-size:20px;
		white-space:nowrap;
		font-family:consolas;
		border-right: 2px solid #66ccff;
		
		}
		
		@keyframes type
		{
		    0%
			{
			width:0px;
			}
			100%
			{
			width:300px;
			}
		}
    
}	
		
		
	.folio img
	{
	filter:gyayscale(100%);
	
	}
	
	aside
	{
	    position: fixed;
		//background: #F44336;
		top: 0px;
		width:100px;
		left:0px;
		height:100%;
		overflow:none;
		z-index:1;
		text-align: center;
		padding:0;
		animation: bgColoraside 20s linear infinite;
	}
	
	@keyframes bgColoraside
{
	0%
	{
		background: #B03A2E;
		
	}
	25%
	{
		background: #884EA0;
		
	}
	50%
	{
		background: #7D3C98;
	}
	70%
	{
		background: #3498DB ;
	}
	100%
	{
		background: #3498DB;
	}
} 
	
	
	
	
	aside img
	{
	    filter:gyayscale(100%) contrast(70%)
		brightness(100%)
		margin-bottom: -3px;
		
	}
	
	.material-icons.md-36
	{
	    font-size: 30px;
		height:30px;
		width:100px;
		padding	:10px 0;
	}
	.navmenu li
	{
	list-style:none;	
	}
	aside a
	{
	    display:block;
        padding	:10px 0;
		color:white;
		transition:all 0.35s;
		text-transform: uppercase;
		font-size: 0.75em;
		letter-spacing:2px;		
	}
	
	li.active a
	{
	background:black;
    color:white;	
	}
	
	
	aside p
	{
	    margin: 0;
		padding: 0;
		
	}

    aside a:hover
	{
	background: #000;
	
	}
	
	
	
	aside nav a:hover
	{
	    background: #000;
		color: white;
	}
	
	main
	{
	max-height:100vh;	
	 max-width:980px;
	 //background: #000;
	 margin-left: 200px;
	 padding:12px 50px 12px 50px;
	 //animation: bgColor 20s linear infinite;
	}
	
	
	
	
	header
	{
	text-align: center;
	letter-spacing: 2px;
	}
	
	header h1{
	    font-weight: bold;
		font-size: 4em;
		letter-spacing:4px;
		text-align: center;
	    border-bottom: 5px solid #fff;
		text-shadow: 3px 3px 3px rgba(0,0,0,.5);
	    overflow: hidden;
	    box-shadow: 0px 1px 0px rgba(0,0,0,.5);
	    animation: reveel 2s linear forwards;
		
	}
	
	@keyframes reveel
{
	0%
	{
		width: 0px;
		height: 0px;
	}
	30%
	{
		width: 700px;
		height: 0px;
	}
	60%
	{
		width: 700px;
		height: 80px;
	}
	
	80%
	{
		width: 700px;
		height: 80px;
		box-shadow: 0px 1px 0px rgba(0,0,0,.5);
	}
	
	100%
	{
		width: 700px;
		height: 80px;
		box-shadow: 0px 4px 0px rgba(0,0,0,.5);
		
	}
	
}
	
	header h5
	{
	    font-weight: 300;
		font-size: 1em;
		letter-spacing: 4px;
		color: #b2b2b2;
		
	}
	

	.about,
	.folio,
	
	.academic,
	.skills1,
	.experience
	{   
	    min-height:800px;
	    line-height:1.5em;
		letter-spacing:1px;
		font-weight:500;
		margin-left:110px;
	
		
	}
	
	
	
	
	.about h2,
	.folio h2,
	.contact h2,
	.academic h2,
	.skills1 h2,
	.experience h2
	{
		//margin-top:20px;
	    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
        font-weight: normal;
        font-size: 1.75em;
        letter-spacing: .2em;
        line-height: 1.1em;
        margin:0px;
        //text-align: center;
        text-transform: uppercase;
		//text-shadow:75px 20px 54px grey;
        text-decoration: overline;
	}
	
	.about p{
	    color: white;
	}
	
	.line::before
	{
		content:"";
		height:110px;
		width:5px;
		background: #009688;
		float: left;
		margin-right: 15px;
	}
	
	.about span {
	    font-weight:600;
		color:white;
	}
	
	.about h3{
	    font-weight:300;
		margin: 50px 0;
	}
	
	.container
	{
	width: 100%;
	background-attachment:#b2b2b2;
	background:white;
	
	}
	
	

.skills
{
width:600px;
margin:20px auto;
color: white;
}
.skills li
{
margin:20px 0;
list-style:none;
}
.bar
{
background: #353b48;
display: block;
height:10px;
border:1px solid rgba(0,0,0,0.5);
border-radius:3px;
//overflow: hidden;
box-shadow:0 0 10px #2187e7b3;
}

.bar span
{
height:8px;
float:left;
background: white;
border-radius:3px;
}

.java
{
width:85%;
animation: java 2s;
}

@keyframes java
{
    0%
	{
	width: 0%;
	}
	100%
	{
	width:85%;
	}
}


.jsp
{
width:70%;
animation: jsp 2s;
}

@keyframes jsp
{
    0%
	{
	width: 0%;
	}
	100%
	{
	width:70%;
	}
}


.html
{
width:90%;
animation: html 2s;
}
@keyframes html
{
    0%
	{
	width: 0%;
	}
	100%
	{
	width:90%;
	}
}

.css
{
width:90%;
animation: css 2s;
}

@keyframes css
{
    0%
	{
	width: 0%;
	}
	100%
	{
	width:90%;
	}
}
	
.javascript
{
width:75%;
animation: javascript 2s;
}

@keyframes javascript
{
    0%
	{
	width: 0%;
	}
	100%
	{
	width:75%;
	}
}	
	
.datastructure
{
width:50%;
animation: datastructure 2s;
}

@keyframes datastructure	
{
    0%
	{
	width: 0%;
	}
	100%
	{
	width:50%;
	}
}	
	
	.folio h3{
	    color: width;
		font-weight:300;
		letter-spacing: 2px;
	}
	
	.folio p 
	{
	font-size: 0.875em;
	
	}
	
	.row-halves
	{
	    display:-webkit-box;
		display:-ms-flexbox;
		display: flex;
		justify-content: space-between;
		margin: 20px 0;
		-webkit-flex-pack:justify;
		
	}
	
	.row-halves .col{
	width: 49%;
	}
	
	.col{
	border:1px solid #222;
	background: #222;
	color: #b2b2b2;
	padding:10px;
	}
	
	
	 label
	 {
	 color:#b2b2b2;
	 }
	 
	 
	 
	.contact-form
	{
		margin-top:20px;
		height:15%;
        width: 80%;
		opacity: 0.8;
        background:white ;
        padding: 30px 40px;
        box-sizing: border-box;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 0 20px #000000b3;
        font-family: "Montserrat",sans-serif;
		color:black;
    }
	
    .contact
	{
	background-image: url("map.jpg");
	background-repeat: no-repeat;
	opacity: 0.8;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	background-position: right top;
	min-height:600px;
	line-height:1.5em;
    letter-spacing:1px;
    font-weight:500;
    margin-left:110px;
	}
.content
{
	padding:20px;
	box-sizing: border-box;
	color:#fff;
}
	
	
	
    .contact-form h1{
    margin-top: 0;
    font-weight: 200;
}
.txtb{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}


	
	
	input[type="submit"]
	{
	    background-color:#2471A3;
		color: #1C2833;
		font-size:20px;
		font-weight: bold;
		text-transform: uppercase;
		padding: 12px 20px;
		border: 1px solid #884EA0;
		cursor: pointer;
		transition: all 0.35s;	
		height:40px;
		width:200px;
		
		
		
	}
	 input[type="submit"]:hover
	 {
	 background-color:#F1948A;
	 color:#222;
	 box-shadow: 0 0 10px #000000b3;
	 }
	 
	 
	 
		
	.footer
	{
		border-top: 5px solid red;
		border-bottom:5px solid blue;
	}	
	 
	.top-bar 
	{
		padding: 20px 0;
		text-align: center;
	}	
	.top-bar a
	{
		margin: 10px;
		font-size: 2em;
		color:#b2b2b2;
		transition: all 0.35s;
		display: inline-block;
	}
    .top.bar a:hover
    {
		transform: scale(1.1);
		color: #009688;
	} 	
	.bottom-bar
    {
	    //background: #000;
		font-size: 0.75em;
		text-align:center;
	}	
	 
	@media (max-width: 768px)
	{
		.row-halves
		{
			display:block;
		}
		.row-halves .col{
			width: 100%;
			margin: 0 0 10px 0;
		}
	}	
	
	
	@media (max-width: 601px)
	{
		aside
		{
			display:none;
		}
		main{
			width: 100%;
			margin: 0 auto;
			padding: 12px 25px;
		}
			
		header
		{
			margin-top: 80px;
		}
		
		
		
		header h1
		{
			font-size: 3em;
			line-height:1.4em;
		}
		
		header h5
		{
			font-size: 1em;
			letter-spacing: 2px;
		}
		.mobile-nav
		{
			position: fixed;
			width:100%;
			display:flex;
			justify-content:space-around;
			background: rgba(0,0,0,0.8);
			z-index: 1;
		}
		
		.mobile-nav a{
			width: 100%;
			color: #b2b2b2;
			text-transform: uppercase;
			font-size: 0.875em;
			letter-spacing: 2px;
			text-align:center;
			padding: 10px 10px;
			transition: all  0.35s;
			
		}
		
		.mobile-nav a:hover
		{
			background: #b2b2b2;
			color: #222;
		}
	}	
	 
	@media (min-width:600px)
	{
		.mobile-nav
		{
			display: none;
		}
	}	
	 
	 
	 .profilefonts
	 {
		 margin-top:5px;
		 margin-left:900px;
		 
	 }

    @media (min-width:600px)
    {
    .profilefonts
	{
		 margin-top:5px;
		 margin-left:500px;
		 
	}
	 
	}


	 
	 i
     {
     color:white;	
     }

	 
	.gotopbtn{
  position: fixed;
  border-radius:50%;
  width: 50px;
  height: 50px;
  //background: #222;
  animation: bgColoraside 20s linear infinite;
  bottom: 20px;
  right: 20px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
} 
	 
	@keyframes bgColor
{
	0%
	{
		background: #3498DB;
	}
	25%
	{
		background: #3498DB ;
	}
	50%
	{
		background: #7D3C98;
	}
	70%
	{
		background: #884EA0;
	}
	100%
	{
		background: #B03A2E;
	}
} 
	 



.bgPulse
{
	
    overflow:hidden;
	position:absolute;

}



.bgPulse 
.span_bgPulse
{ 
	position: absolute;
	width: 80px;
	height: 80px;
	background: #fff;
	
	
}

.bgPulse 
.span_bgPulse:nth-child(3n+1)
{
	background:transparent;
	border: 5px solid #fff;
}



.bgPulse 
.span_bgPulse:nth-child(1)
{
	top:220px;
	left:20%;
	animation: animate 10s linear infinite;
}
.bgPulse 
.span_bgPulse:nth-child(2)
{
	top:400px;
	left:40%;
	animation: animate 12s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(3)
{
	top:70px;
	left:65%;
	animation: animate 15s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(4)
{
	top:300px;
	left:70%;
	animation: animate 6s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(5)
{
	top:330px;
	left:30%;
	animation: animate 9s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(6)
{
	top:400px;
	left:95%;
	animation: animate 8s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(7)
{
	top:490px;
	left:5%;
	animation: animate 5s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(8)
{
	top:60px;
	left:45%;
	animation: animate 14s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(9)
{
	top:340px;
	left:80%;
	animation: animate 11s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(10)
{
	top:500px;
	left:90%;
	animation: animate 12s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(11)
{
	top:500px;
	left:20%;
	animation: animate 12s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(12)
{
	top:300px;
	left:5%;
	animation: animate 12s linear infinite;
}
 
.bgPulse 
.span_bgPulse:nth-child(13)
{
	top:45px;
	left:85%;
	animation: animate 12s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(14)
{
	top:50px;
	left:90%;
	animation: animate 12s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(15)
{
	top:50px;
	left:5%;
	animation: animate 12s linear infinite;
}

.bgPulse 
.span_bgPulse:nth-child(16)
{
	top:50px;
	left:10%;
	animation: animate 12s linear infinite;
}


.bgPulse 
.span_bgPulse:nth-child(17)
{
	top:500px;
	left:65%;
	animation: animate 12s linear infinite;
}

@keyframes animate
{
	0%
	{
		transform: scale(0) translateY(0) rotate(0deg);
		opacity:1;
	}
	
	100%
	{
		transform: scale(1) translateY(-100px) rotate(360deg);
	    opacity: 0;
	}
}



.box
{
	margin-top:10px;
	//margin-left:200px;
	position: relative;
	width: 90%;
	border-radius: 8px;
	height:auto;
	display: flex;
	justify-content: center;
	align-items: center;
	//background:#333;
	animation: bgColoraside 20s linear infinite;
	opacity: 1.5;
}

.box:before
{
	content: '';
	position: absolute;
	top: -2px;
	left:-2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index:-1;
	border-radius: 8px;
}

.box:after
{
	content: '';
	position: absolute;
	top: -2px;
	left:-2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index:-2;
	filter:blur(40px);
	border-radius: 8px;
}
.box:before,
.box:after
{
	background: linear-gradient(235deg,#CACFD2,#BFC9CA,#A9CCE3 );
	
}

.content
{
	padding:20px;
	box-sizing: border-box;
	color:#fff;
}





/*Loader effect css */
.loader_bg
{
	position:fixed;
	z-index:999999;
	background: #fff;
	width:100%;
	height:100%;
}

.loader
{
	border: 0 solid transparent;
	border-radius:50%;
	width:150px;
	height:150px;
	position:absolute;
	top:calc(50vh - 75px);
	left: calc(50vw - 75px);
}


.loader:before, .loader:after
{
	content:'';
	border: 1em solid #ff5733;
	border-radius:50%;
	width:inherit;
	height:inherit;
	position:absolute;
	top: 0;
	left: 0;
	animation: loader 2s linear infinite;
	opacity:0;
}

.loader:before
{
	animation-delay: .5s;
}

@keyframes loader
{
	0%
	{
		transform: scale(0);
		opacity:0;
	}
	50%
	{
		opacity:1;
	}
	100%
	{
		transform: scale(1);
		opacity:0;
	}
}










































