
html
{
	scroll-behavior:smooth;
}

*,
	*::before,
	*::after{
	    box-sizing:border-box;
	}
	
	*:focus
	{
	outline:none;
	}
	
	body
	{
	    padding:0;
		margin:0;
		background: #000;
		color:white;
		font-family: "Oxygen", sans-serif;
		//overflow: hidden;
	}
	
	a
	{
	    text-decoration:none;
	}
	
	img
	{
	    width: 100%;
	}
	
	.home img
	   {
	    width: 40%;
		border-radius:60%;
		-webkit-filter: grayscale(100%)
		contrast(100%);
		filter:  contrast(120%) brightness(90%)
		}
		
	.folio img
	{
	filter:gyayscale(100%);
	
	}
	
	aside
	{
	    position: fixed;
		background: #222;
		top: 0px;
		width:100px;
		left:0px;
		height:100%;
		overflow:none;
		z-index:1;
		text-align: center;
		padding:0;
		
	}
	
	aside img
	{
	    filter:gyayscale(100%) contrast(70%)
		brightness(100%)
		margin-bottom: -3px;
		
	}
	
	.material-icons.md-36
	{
	    font-size: 30px;
		height:30px;
		width:100px;
		padding	:10px 0;
		
		
	}
	aside a
	{
	    display:black;
        padding	:20px 0;
		color:white;
		transition:all 0.35s;
		text-transform: uppercase;
		font-size: 0.75em;
		letter-spacing:2px;
		
		
	}
	
	aside p
	{
	    margin: 0;
		padding: 0;
		
	}

    aside a:hover
	{
	background: #000;
	
	}
	
	aside nav a:nth-child(2)
	{
	    background: #000;
	}
	
	aside nav a:nth-child(2):hover
	{
	    background: #b2b2b2;
		color: #222;
	}
	
	main
	{
	 max-width:980px;
	 background: #000;
	 margin-left: 200px;
	 padding:12px 50px 12px 50px;
	}
	
	header
	{
	text-align: center;
	letter-spacing: 2px;
	}
	
	header h1{
	    font-weight: bold;
		font-size: 4em;
		letter-spacing:4px;
		
	}
	
	header h5
	{
	    font-weight: 300;
		font-size: 1em;
		letter-spacing: 4px;
		color: #b2b2b2;
		
	}
	
	
	
	
	.about,
	.folio,
	.contact,
	.academic,
	.skills1,
	.experience
	{
		
	    line-height:1.5em;
		letter-spacing:1px;
		font-weight:300;
		margin-left:110px;
	}
	
	.about h2,
	.folio h2,
	.contact h2,
	.academic h2,
	.skills1 h2,
	.experience h2
	{
	    font-weight:300;
		text-transform: uppercase;
		text-decoration:line-through;
		padding-bottom:10px;
		margin:100px 0 0 0;
		letter-spacing: 4px;
	}
	
	.about p{
	    color: #b2b2b2;
	}
	
	.about span {
	    font-weight:600;
		color:white;
	}
	
	.about h3{
	    font-weight:300;
		margin: 50px 0;
	}
	
	.container
	{
	width: 100%;
	background-attachment:#b2b2b2;
	
	}
	
	.skills
	{
	    text-align:center;
		padding-right: 20px;
		line-height: 30px;
		color: white;;
		background-color: #b2b2b2;
	}
	
	.figma
	{
	width:95%;
	}
	
	.html{
	width:90%;
	}
	
	.css{
	    width: 85%;
	}
	
	.javascript{
	    width:95%;
	}
	
	.java{
	    width:70%;
	}
	
	.folio h3{
	    color: width;
		font-weight:300;
		letter-spacing: 2px;
	}
	
	.folio p 
	{
	font-size: 0.875em;
	
	}
	
	.row-halves
	{
	    display:-webkit-box;
		display:-ms-flexbox;
		display: flex;
		justify-content: space-between;
		margin: 20px 0;
		-webkit-flex-pack:justify;
		
	}
	
	.row-halves .col{
	width: 49%;
	}
	
	.col{
	border:1px solid #222;
	background: #222;
	color: #b2b2b2;
	padding:10px;
	}
	
	
	 label
	 {
	 color:#b2b2b2;
	 }
	 
	 form input[type="text"],
	 select,
	 textarea{
	    width: 100%;
		padding: 12px;
		border: none;
		border: 1px solid #222;
		background: transparent;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
		color:#b2b2b2;
	 }
	form input[type="text"]:focus,
    textarea:focus
	{
	outline:none;
	border:1px solid #009688;
	}
	
	input[type="submit"] 
	{
	background-color: transparent;
	color: #b2b2b2;
	text-transform: uppercase;
	padding: 12px 20px;
	border: 1px solid #222;
	cursor:pointer;
	transition: all 0.35s;
	
	}
	
	input[type="submit"]
	{
	    background-color:transparent;
		color: #b2b2b2;
		text-transform: uppercase;
		padding: 12px 20px;
		border: 1px solid #222;
		cursor: pointer;
		transition: all 0.35s;
		
	}
	 input[type="submit"]:hover
	 {
	 background-color:#b2b2b2;
	 color:#222;
	 }
	 
	 
	 
	.contact .container
    {
		margin-top: 20px;
		margin-bottom: 100px;
		background: transparent;
		padding: 20px 0;
		width:98%;
	}	
	.footer
	{
		border-top: 5px solid red;
		border-bottom:5px solid blue;
	}	
	 
	.top-bar 
	{
		padding: 20px 0;
		text-align: center;
	}	
	.top-bar a
	{
		margin: 10px;
		font-size: 2em;
		color:#b2b2b2;
		transition: all 0.35s;
		display: inline-block;
	}
    .top.bar a:hover
    {
		transform: scale(1.1);
		color: #009688;
	} 	
	.bottom-bar
    {
	    background: #000;
		font-size: 0.75em;
		text-align:center;
	}	
	 
	@media (max-width: 768px)
	{
		.row-halves
		{
			display:block;
		}
		.row-halves .col{
			width: 100%;
			margin: 0 0 10px 0;
		}
	}	
	
	
	@media (max-width: 601px)
	{
		aside
		{
			display:none;
		}
		main{
			width: 100%;
			margin: 0 auto;
			padding: 12px 25px;
		}
		
		header
		{
			margin-top: 80px;
		}
		
		
		
		header h1
		{
			font-size: 3em;
			line-height:1.4em;
		}
		
		header h5
		{
			font-size: 1em;
			letter-spacing: 2px;
		}
		.mobile-nav
		{
			position: fixed;
			width:100%;
			display:flex;
			justify-content:space-around;
			background: rgba(0,0,0,0.8);
			z-index: 1;
		}
		
		.mobile-nav a{
			width: 100%;
			color: #b2b2b2;
			text-transform: uppercase;
			font-size: 0.875em;
			letter-spacing: 2px;
			text-align:center;
			padding: 10px 10px;
			transition: all  0.35s;
			
		}
		
		.mobile-nav a:hover
		{
			background: #b2b2b2;
			color: #222;
		}
	}	
	 
	@media (min-width:600px)
	{
		.mobile-nav
		{
			display: none;
		}
	}	
	 
	 
	 .profilefonts
	 {
		 margin-top:5px;
		 margin-left:900px;
		 
	 }

@media (min-width:600px)
{
.profilefonts
	 {
		 margin-top:5px;
		 margin-left:900px;
		 
	 }


}


	 
	 i
     {
     color:white;	
     }

	 
	 
	 
	 
	
	
	
